
/* Put website / document-wide properties here: */
body {
  margin: 0;
  padding-top: 0px;
  font-size: 20px;
  font-family: 'Futura', sans-serif;
  color: white;
}

/* "Credits" at the bottom of the page */
#bottom {
  background-color: #734021; /* Tufts brown */
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

#bottom a {
  text-decoration: none;
  color: inherit;
}

#navbar {
  overflow: hidden;
  opacity: 1.0;
  width: 100%;
  max-width: 1000px;
}

#logo {
  text-align: right;
  float: right;
  width: 7%;

  display: block;

  font-weight: bold;
  position: absolute;
  right: 1%;
  top: 20%;
}

.social-media-content {
  width: 60%;
  float: left;
  display: block;
  padding: 10px;
}

.tuftscs-fb-page {
  width: 40%;
  float: right;
  display: block;
  padding: 10px;
}

 /* Website header obscurs the place we want to jump to when using HTML anchors,
  * so we need to offset the tagged ids (on e.g. <h1> headings mostly) by a fixed
  * size offset to get the right thing to appear when we click a link.
  */
.anchor {
  display: block;
  position: relative;
  
  /* Offset of 100 determined by trial-and-error: */
  top: -100px;
  visibility: hidden;
}

#navbar-links {
  width: 93%;
  float: left;
  text-shadow: 0px 0px 1px black;
}

#navbar a:hover {
  text-shadow: 3px 3px 3px black;
}

#navbar a {
  color: inherit;        /* don't color links differently */
  text-decoration: none; /* no underlining */

  float: left;
  padding: 5px;
  padding-bottom: 10px;

  font-size: 25px;
  font-weight: bold;
}

/* sticky gets triggered (added to navbar) when user scrolls the page */
.sticky {
  position: fixed;
  top: 0;
  background-color: rgba(62, 142, 222, 1.0); /* #3E8EDE is Tufts blue */
  border-radius: 5px; /* Soft edges on the navbar div */
}

.sticky + .content {
  padding-top: 60px;
}

.content {
  color: black;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

/* The outer-most container for the website, force the page
   to be within a certain width to constrain the content: */
.container {
  max-width: 1000px;

  /* Center the div with margins on both
     sides filling up the remaining max-width */
  margin: auto;
  
}

.contact-row {

}

.job-title {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  background-color: #D35E13;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-weight: bold;
}

/* Make links in contact job titles (e.g. mailing list) smaller */
.job-title a {
  color: inherit;
  font-size: 15px;
  text-decoration: none;
}

.contact-names {
  background-color: #C05008;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.contact-name {
  padding: 10px;
  text-align: center;
  color: white;
}

.contact-name a {
  color: inherit;
}

/* All images in the people-content class */
.people-content img {
  width: 250px;
  height: 250px;
}

/* EXCEPT images in the alumni div, those are smaller: */
.alumni img {
  width: 100px;
  height: 100px;
}

.person-photo:hover .image-link {
  opacity: 0.7;
}

/* Split up the publications by year with <hr>, but don't show a horizontal row: */
#papers-content hr {
  border: none;
  height: 0px;
  background-color: #333;
}

/* No link underlines in publications section by default: */
#papers-content a {
  text-decoration: none;
}
/* Highlight links instead!: */
#papers-content a:hover {
  text-shadow: 0px 0px 1px black;
  /* text-shadow: 0px 0px 1px rgba(122, 104, 85, 0.4); */
  border-radius: 5px;
  color: black;
}

#papers-content a {
  color: inherit;
}

.project-descr a {
  color: inherit;
  font-size: inherit;
}

.project-link a {
  color: inherit;
  font-size: 18px;
}

.people-content a {
  color: inherit;
}

.pdf-link {
  text-decoration: underline;
}

.faculty {

}

/* Rows of floating people in table (row/column) form: */
.person-row:after {
  clear: both;
  content: "";
  display: table;
}

.contact-row:after {
  clear: both;
  content: "";
  display: table;
}

.projects-row:after {
  clear: both;
  content: "";
  display: table;
}

.contact-entry {
  float: left; /* Multiple per row */
  font-family: 'Ubuntu', sans-serif;
  /* 4 contact entries per line: */
  width: 23%;
  margin: 5px;
}

.entry {
  color: white;
  text-align: center;
}

.large-entry {
  padding: 10px;
  margin: 10px;
  border-radius: 40px;
}

.small-entry {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.tiny-entry {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.grad-student-entry {
  background-color: #A93439;

  /* 3 grad students per line */
  width: 28%;
  float: left;
}

.undergrad-student-entry {
  background-color: #4A0D66;

  /* 3 grad students per line */
  width: 28%;
  float: left;
}

.faculty-entry {
  background-color: #77881C;

  /* 2 faculty per line */
  width: 45%;

  /* Multiple faculty (2) per line */
  float: left;
}

.alumni-entry {
  background-color: #77881C;

  /* 5 alumni per line */
  width: 18%;

  /* Multiple per line: */
  float: left;
}

.projects-entry {
  background-color: #7A6855;
  
  /* 6 projects per line */
  width: 14%;

  float: left;
}

/* Projects that go at the bottom with a longer description. */
.projects-entry-wide {
  background-color: #7A6855;
  
  /* 6 projects per line */
  width: 30%;

  float: left;
}

.project-descr {
  font-size: 13px;
  display: block;
}

.person-bio {
  /* Put some space between the obligatory contact info and
   * the person's actual research interests */
  padding-top: 30px;
  padding-left: 10px;  /* not hit edges */
  padding-right: 10px; /* not hit edges */
  text-align: left;
}

.breakme {
  clear: left;
}

.person-photo {
  margin: 20px;
  width: 250px; /* same as image width */
  height: 250px;
  border-radius: 179px;
  border: 10px solid white;

  /* Fit the image within the border-radius: */
  overflow: hidden;

  /* center the image in the entry div */
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  /* So that hovering opacity looks better: */
  background-color: white;
}

.alumni .person-photo {
  width: 100px;
}

.paper-entry {
  margin-bottom: 25px;
}

.disclaimer {
  font-size: 15pt;
}

.containit, .contact-entry a, .person-link a {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

ul {
  line-height: 2.0em;
}

.disclaimer {
  color: gray;
}

@media(min-width: 1001px) {
  .alumni-entry {
    width: 20.8%;
  }
  .alumni .person-photo {
    height: 100px;
  }
  body {
    font-size: 24px;
    line-height: 1.6em;
  }
  .person-name, .person-email, .person-position, .person-link a, .person-bio {
    font-size: 0.80em;
  }
  .grad-student-entry {
    width: 440px;
    min-height: 600px;
  }
  .faculty-entry {
    width: 440px;
    min-height: 650px;
  }
  .alumni-entry {
    min-height: 300px;
  }
  .alumni-entry .person-name { line-height: 1.5em; }
  .alumni-entry a {
    font-size: 12pt;
  }
  .project-descr {
    line-height: 1.5em;
  }
  .projects-entry {
    min-height: 220px;
  }
  .project-link { line-height: 1.2em; }
  .job-title {
    min-height: 140px;
  }
  .contact-names {
    min-height: 180px;
  }
}

@media(max-width: 1000px) {
  body {
    font-size: 26px;
    line-height: 1.5em;
  }
  .content {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  #navbar-links {
    margin: 0 auto;
    width: auto;
  }
  #navbar a {
    padding: 1.2vw; /* 2.1vw; */
    padding-bottom: 1.2vw;
    font-size: 2.5vw;
    text-decoration: underline;
  }
  #logo { display: none; }
  .sticky + .content {
    padding-top: 7vw;
  }
  .anchor {
    top: -10vw;
  }
  .faculty-entry { width: 38%; }
  .large-entry {
    margin: 1%;
    padding: 5%;
    border-radius: 40px;
  }
  .person-photo {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 250px;
    height: 250px;
    border-radius: 179px;
  }
  .grad-student-entry {
    width: 34vw;
    min-height: 80vw;
  }
  .person-name, .person-email, .person-position, .person-link a, .person-bio {
    font-size: 0.80em;
  }
  .small-entry .person-photo, .small-entry img {
    width: 31vw;
    height: 31vw;
  }
  .small-entry {
    width: 35vw;
    padding: 2vw;
    margin: 2.5vw;
    min-height: 50vw;
  }
  .project-descr {
    line-height: 1.4em;
  }
  .project-link a { line-height: 1vw; }
  .projects-entry {
    min-height: 35vw;
  }
  h1 {
    line-height: 1.5em;
  }
  .contact-name {
    line-height: 1.1em;
    padding: 1vw;
  }
  .contact-names {
    min-height: 13vw;
    font-size: 15pt;
  }
  .job-title {
    font-size: 16pt;
    min-height: 10vw;
  }
  .contact-entry a {
    font-size: 0.8em;
  }
  .job-title {
    min-height: 16vw;
  }
}

@media(max-width: 650px) {
  #navbar a {
    padding: 1.2vw; /* 2.1vw; */
    padding-bottom: 1.2vw;
  }
  .disclaimer {
    font-size: 3vw;
  }
  .small-entry {
    width: 38vw;
    padding: 2vw;
    margin: 2.5vw;
    min-height: 55vw;
  }
  .small-entry .person-photo, .small-entry img {
    width: 31vw;
    height: 31vw;
  }
  .content {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  body {
    font-size: 4vw;
  }
  body p {
    font-size: 4.7vw;
  }
  .people-content img {
    width: 33vw;
    height: 33vw;
  }
  .grad-student-entry img {
    width: 23vw;
    height: 23vw;
  }
  .grad-student-entry .person-photo {
    width: 23vw;
    height: 23vw;
    border-radius: 10vw;
  }
  .grad-student-entry {
    width: 38%;
    min-height: 85vw;
    margin: 1vw;
  }
  .person-photo {
    width: 33vw;
    height: 33vw;
  }
  .large-entry {
    margin: 1vw;
    padding: 4vw;
  }
  .people-content a {
    font-size: 3vw;
  }
  .projects-entry {
    min-height: 40vw;
    width: 40vw;
  }
  .projects-entry-wide {
    width: 80vw;
  }
  .project-descr {
    font-size: 3.5vw;
    padding-top: 3vw;
  }
  .project-link a {
    font-size: 3.8vw;
  }
  .contact-names {
    min-height: 15vw;
    font-size: 3.2vw;
  }
  .job-title {
    font-size: 3.5vw;
    min-height: 10vw;
  }
  .contact-entry {
    width: 43vw;
  }
  #bottom p {
    font-size: 2.8vw;
  }
}

